<form asp-action="Search" method="post">
    <label for="passcode">Enter Passcode:</label>
    <input type="text" id="passcode" name="passcode" />

    <button type="submit">Search</button>
</form>