<!-- Start Page Title Area -->
<div class="page-title-area">
	<div class="container">
		<div class="page-title-content">
			<h2>About Us</h2>
			<ul>
				<li>
					<a href="~/Home/Index">
						<i class="bx bx-home"></i>
						Home
					</a>
				</li>
				<li class="active">About Us</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Area -->
<section class="team-area team-area-three white-bg pt-100 pb-70">
	<div class="container">
		<div class="section-title">
			<span>Professionals</span>
			<h2>Meet our skilled team</h2>
		</div>

		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="single-team">
					<img src="~/Home/assets/img/team/team-img-1.jpg" alt="Image">

					<div class="team-content">
						<h3>Ciaran Sebastian</h3>
						<span>Commercial Director</span>

						<ul>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6">
				<div class="single-team">
					<img src="~/Home/assets/img/team/47f08560-e055-40a0-9e56-c52ce955d1e8.jpg" alt="Image">

					<div class="team-content">
						<h3>Safwan Raj</h3>
						<span>Software Developer</span>

						<ul>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
				<div class="single-team">
					<img src="~/Home/assets/img/team/team-img-3.jpg" alt="Image">

					<div class="team-content">
						<h3>Andrew Gleeson</h3>
						<span>Chief Executive Officer</span>

						<ul>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="bx bxl-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="team-right-shape shape-three">
		<img src="~/Home/assets/img/team-right-shape.png" alt="Image">
	</div>
</section>
<!-- End Team Area -->
<!-- Start About Us Area -->
<section class="about-us-area pt-100 pb-70">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="about-img">
					<img src="~/Home/assets/img/about-img.jpg" alt="Image">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="about-content">
					<div class="about-title">
						<span>About Us</span>
						<h2>Without stopping for a moment we give you best technology experience discussing from our expertise to stop threats being theft or damaged.</h2>
					</div>

					<div class="tab">
						<ul class="tabs">
							<li>
								Our Experience
							</li>
							<li>
								Why Us?
							</li>
							<li>
								Our Approach
							</li>
						</ul>

						<div class="tab_content">
							<div class="tabs_item">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat atque quibusdam fuga natus non necessitatibus eveniet maiores nostrum esse ut voluptates sint dolores, voluptatum consequatur ad est enim perferendis reprehenderit.</p>

								<ul>
									<li>
										<i class="bx bx-check-circle"></i>
										Trusted Partner
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Product Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										System Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Operational Security
									</li>
								</ul>
							</div>

							<div class="tabs_item">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat atque quibusdam fuga natus non necessitatibus eveniet maiores nostrum esse ut voluptates sint dolores, voluptatum consequatur ad est enim perferendis reprehenderit.</p>

								<ul>
									<li>
										<i class="bx bx-check-circle"></i>
										Trusted Partner
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Product Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										System Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Operational Security
									</li>
								</ul>
							</div>

							<div class="tabs_item">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat atque quibusdam fuga natus non necessitatibus eveniet maiores nostrum esse ut voluptates sint dolores, voluptatum consequatur ad est enim perferendis reprehenderit.</p>

								<ul>
									<li>
										<i class="bx bx-check-circle"></i>
										Trusted Partner
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Product Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										System Security
									</li>
									<li>
										<i class="bx bx-check-circle"></i>
										Operational Security
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Us Area -->
<!-- End Our Challenges Area -->
<!-- Start Protect Area -->
<section class="protect-area pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="protect-img">
					<img src="~/Home/assets/img/protect-img.jpg" alt="Image">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="protect-content">
					<div class="protect-title">
						<span>Cyber Security Protect</span>
						<h2>Protect your website, web server, and web application for helping you being threats from the hacker</h2>
					</div>

					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="single-challenges overly-one">
								<div class="overly-two">
									<i class="flaticon-database"></i>
									<h3>Database Security</h3>
									<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
									<span class="flaticon-database"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-challenges overly-one">
								<div class="overly-two">
									<i class="flaticon-application"></i>
									<h3>Database Security</h3>
									<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
									<span class="flaticon-application"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-challenges overly-one">
								<div class="overly-two">
									<i class="flaticon-security"></i>
									<h3>Web Security</h3>
									<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
									<span class="flaticon-security"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-challenges overly-one">
								<div class="overly-two">
									<i class="flaticon-security-1"></i>
									<h3>Server Security</h3>
									<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
									<span class="flaticon-security-1"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Eed Protect Area -->
<!-- Start Testimonials Area -->
<section class="testimonials-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="testimonials">
			<span>What our customers say</span>

			<div class="testimonials-slider owl-carousel owl-theme">
				<div class="testimonials-item">
					<i class="flaticon-quote"></i>
					<p>“Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.”</p>

					<ul>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
					</ul>

					<h3>Jastin Anderson</h3>
					<span>CEO</span>
				</div>
				<div class="testimonials-item">
					<i class="flaticon-quote"></i>
					<p>“Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.”</p>

					<ul>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
						<li>
							<i class="bx bxs-star"></i>
						</li>
					</ul>

					<h3>Juhon Anderson</h3>
					<span>Manager</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Eed Testimonials Area -->
