@{
	ViewData["Title"] = "Home Page";
}
<!-- Start Banner Area -->
<section class="banner-area banner-area-three">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner-content">
							<span class="top-title wow animate__animated animate__fadeInDown" data-wow-delay="1s">World Class Gated Community Security</span>
							<h1 class="wow animate__animated animate__fadeInDown" data-wow-delay="1s">Society Gate Management</h1>
							<p class="wow animate__animated animate__fadeInUp" data-wow-delay="1s">
								A comprehensive digital platform to take care of
								your society's security, accounts,
								communication & much more.
							</p>
							<div class="banner-btn wow animate__animated animate__fadeInUp" data-wow-delay="1s">
								<a href="~/Home/Contact" class="default-btn">
									<span>Contact Us</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="banner-img wow animate__animated animate__fadeInDown" data-wow-delay="1s">
							<img src="~/Home/assets/img/banner/banner-img.png" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!-- Start Feature Area -->
<section class="feature-area feature-area-three pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="single-feature overly-one">
					<div class="overly-two">
						<div class="title">
							<i class="flaticon-testing"></i>
							<h3>Manage Society</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						<div class="feature-shape">
							<img src="~/Home/assets/img/feature-shape-2.png" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6">
				<div class="single-feature overly-one">
					<div class="overly-two">
						<div class="title">
							<i class="flaticon-cybercrime"></i>
							<h3>Manage Residents</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						<div class="feature-shape">
							<img src="~/Home/assets/img/feature-shape-2.png" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
				<div class="single-feature overly-one">
					<div class="overly-two">
						<div class="title">
							<i class="flaticon-cyber-security"></i>
							<h3>Security Guard</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						<div class="feature-shape">
							<img src="~/Home/assets/img/feature-shape-2.png" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Feature Area -->
<!-- Start Solution Area -->
<section class="solution-area solution-area-three white-bg pt-100 pb-70">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="solution-content">
					<div class="solution-title">
						<span>All-in Solution</span>
						<h2>Our experts are providing and planning 24/7 technical support services with product and security consultation.</h2>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-6">
							<div class="single-solution overly-one">
								<div class="overly-two">
									<h3>Product Consultation</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
									<span>01</span>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-md-6">
							<div class="single-solution overly-one">
								<div class="overly-two">
									<h3>Security Consultation</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
									<span>02</span>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-solution overly-one">
								<div class="overly-two">
									<h3>24/7 Technical Support</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
									<span>03</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="solution-img-two text-center">
					<img src="~/Home/assets/img/solution-img-2.png" alt="Image">
				</div>
			</div>
		</div>
	</div>

	<div class="solution-shape-left shape-three">
		<img src="~/Home/assets/img/solution-shape-left.png" alt="Image">
	</div>
</section>
<!-- End Solution Area -->
<!-- Start Counter Area -->
<section class="counter-area counter-area-three pt-100 pb-70">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<div class="counter-img">
					<img src="~/Home/assets/img/counter-img.png" alt="Image">
				</div>
			</div>

			<div class="col-lg-8">
				<div class="counter-max-wide">
					<div class="section-title">
						<span>Why Choose Us</span>
						<h2>We Have a Lot of Skills in Cyber Security</h2>
					</div>

					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="single-counter overly-one">
								<div class="overly-two">
									<i class="flaticon-authentication"></i>
									<h2>
										<span class="odometer" data-count="365">00</span>
									</h2>
									<h3>Clients Protection</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-counter overly-one">
								<div class="overly-two">
									<i class="flaticon-reliability"></i>
									<h2>
										<span class="odometer" data-count="1000">00</span>
									</h2>
									<h3>Trusted Organizations</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-counter overly-one">
								<div class="overly-two">
									<i class="flaticon-web-protection"></i>
									<h2>
										<span class="odometer" data-count="567">00</span>
									</h2>
									<h3>Website Protection</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="single-counter overly-one">
								<div class="overly-two">
									<i class="flaticon-innovation"></i>
									<h2>
										<span class="odometer" data-count="100">00</span>
										<span class="target">%</span>
									</h2>
									<h3>Innovative Technology</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Counter Area -->
<!-- Start FAQ Area -->
<section class="faq-area white-bg ptb-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="faq-img">
					<img src="~/Home/assets/img/faq-img.png" alt="Image">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="faq-accordion">
					<div class="faq-title">
						<h2>Frequently Asked Questions</h2>
						<span>Just Find Your Answers Below</span>
					</div>

					<ul class="accordion">
						<li class="accordion-item">
							<a class="accordion-title active" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								What is a managed security service?
							</a>

							<div class="accordion-content show">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>

						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								Why do we need cybersecurity?
							</a>

							<div class="accordion-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>

						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								What is theaa best way to learn cybersecurity?
							</a>

							<div class="accordion-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>

						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								How do i secure my computer?
							</a>

							<div class="accordion-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>

						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								What are theaa costs of a cyber attack?
							</a>

							<div class="accordion-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>

						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)">
								<i class="bx bx-plus"></i>
								How can i safely browse the internet?
							</a>

							<div class="accordion-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="faq-right-shape shape-three">
		<img src="~/Home/assets/img/faq-right-shape.png" alt="Image">
	</div>
</section>
<!-- End FAQ Area -->
<!-- Start Blog Area -->
<section class="blog-area blog-area-three white-bg pb-70">
	<div class="container">
		<div class="section-title">
			<span>Latest News</span>
			<h2>Read The Latest Articles From Us</h2>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="blog-img">
						<a href="blog-details.html">
							<img src="~/Home/assets/img/blog/blog-4.jpg" alt="Image">
						</a>
					</div>

					<div class="blog-content">
						<span>January 20, 2021</span>
						<h3><a href="blog-details.html">The security risks of changing package owners</a></h3>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="blog-img">
						<a href="blog-details.html">
							<img src="~/Home/assets/img/blog/blog-5.jpg" alt="Image">
						</a>
					</div>

					<div class="blog-content">
						<span>January 19, 2021</span>
						<h3><a href="blog-details.html">Tips to Protecting Your Business and Family</a></h3>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-blog">
					<div class="blog-img">
						<a href="blog-details.html">
							<img src="~/Home/assets/img/blog/blog-6.jpg" alt="Image">
						</a>
					</div>

					<div class="blog-content">
						<span>January 18, 2021</span>
						<h3><a href="blog-details.html">Protect Your Workplace from Cyber Attacks</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="blog-left-shape shape-three">
		<img src="~/Home/assets/img/blog-left-shape.png" alt="Image">
	</div>
</section>
<!-- End Blog Area -->
<!-- Start Our Approach Area -->
<section class="our-approach-area-three pb-70">
	<div class="container">
		<div class="section-title">
			<span>Our Approach</span>
			<h2>How Can We Protect your Details From Cyber Attacks</h2>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="single-approach-box overly-one">
					<div class="overly-two">
						<div class="icon">
							<i class="flaticon-key"></i>
						</div>
						<h3>Identifying Threats</h3>
						<p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
						<div class="approach-shape">
							<img src="~/Home/assets/img/approach-shape.png" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="single-approach-box overly-one">
					<div class="overly-two">
						<div class="icon">
							<i class="flaticon-padlock"></i>
						</div>
						<h3>Keep Software Updated </h3>
						<p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
						<div class="approach-shape">
							<img src="~/Home/assets/img/approach-shape.png" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="single-approach-box overly-one">
					<div class="overly-two">
						<div class="icon">
							<i class="flaticon-url"></i>
						</div>
						<h3>Check Website Url</h3>
						<p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
						<div class="approach-shape">
							<img src="~/Home/assets/img/approach-shape.png" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="single-approach-box overly-one">
					<div class="overly-two">
						<div class="icon">
							<i class="flaticon-antivirus"></i>
						</div>
						<h3>Use Antivirus Software</h3>
						<p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
						<div class="approach-shape">
							<img src="~/Home/assets/img/approach-shape.png" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="approach-right-shape shape-three">
		<img src="~/Home/assets/img/approach-right-shape.png" alt="Image">
	</div>
</section>
<!-- End Our Approach Area -->
<!-- Start Subscribe Area -->
<section class="subscribe-area ptb-100">
	<div class="container">
		<div class="subscribe-bg">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<div class="subscribe-content">
						<img src="~/Home/assets/img/subscribe-img.png" alt="Image">
						<h3>Sing up for newsletter</h3>
						<span>Subscribe to the newsletter for all the latest updates</span>
					</div>
				</div>

				<div class="col-lg-6 col-sm-6">
					<form class="newsletter-form" data-toggle="validator">
						<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">

						<button class="default-btn" type="submit">
							Subscribe
						</button>

						<div id="validator-newsletter" class="form-result"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Subscribe Area -->
